.contact {
    height: 50rem;
    padding-top: 1.5rem;

    &__header {

        &-title {
            font-size: 2rem;
            color: #F1F0EA;
            text-align: center;
            font-weight: 700;
        }

    }

}