.footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__copyright {
        font-size: 1rem;
        font-weight: 500;
        color: #F1F0EA;
    }

    &__detail {
        font-size: .875rem;
        color: #F1F0EA;
        text-align: center;
    }
    
}